@import url("https://fonts.googleapis.com/css?family=Cinzel:300,400,500,700|Open+Sans:400,500,700&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
}


:root { 
  --color-1: rgb(223, 111, 111);
  --color-2: rgb(250, 242, 242);
  --color-3: rgb(5, 5, 5);
  --color-4: rgba(32, 32, 32, 0.8);
  --color-5: rgb(0, 0, 0, 0.5);
  --color-6: rgb(71, 71, 71);
  --color-7: rgb(131, 131, 131);
}   /*--VARIABLES -I found the need to use variables as I was experimenting with 
    different tones of grey and pink - learnt with Kevin Powel's youtube video 
    "CSS Variables - An introduction to CSS custom properties" https://www.youtube.com/watch?v=PHO6TBq_auI"--*/

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-6);
  background-color: var(--color-2);
}

/*---Navigation ---------------------*/

#navbar {
  background-color: var(--color-5) !important;
}

#logo {
  font-family: "Cinzel", sans-serif;
  color: var(--color-1);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.navbar-item {
  letter-spacing: 0.1rem;
  
}

#logo:hover {
  color: var(--color-2);
}

#navbar-nav a:hover {
  color: var(--color-1);
}

/*---Footer ---------------------*/

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: var(--color-3);
  height: 75px;
  }

footer .list-inline-item a {
  color: var(--color-1);
}

footer .list-inline-item a:hover {
  color: var(--color-2);
}



/*---Home page ------------------*/

#body-homepage {
    background-color: var(--color-6);
    height: 100vh;
}

.carousel-caption h3 a{
    color: var(--color-2);
    font-size: 1rem;
}
.carousel-caption h3 a:hover {
  color: var(--color-1);
  text-decoration: none;
}

.clock-icon i {
    color: var(--color-1);
    font-size: 1rem;
}

   
.review-container h1 a {
    color: var(--color-6);
}

.review-container h1 a:hover {
    color: var(--color-1);
    text-decoration: none;
}

.carousel-item img {
    max-height: 600px;
    min-height: 175px;
}

.news-content {
  background-color: var(--color-6);
  color: var(--color-2);
}

#logo-2 {
  font-family: "Cinzel", sans-serif;
  color: var(--color-2);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.quotes-section {
    background-color: var(--color-2);
}

.quote-item,
.quote-description,
.quote-description p a {
    color: var(--color-6);
}


/*---About page ------------------*/

#body-aboutpage {
  height: 100vh;
  /*-- copied template from Chris Coyier at https://css-tricks.com/perfect-full-page-background-image/  --*/
  background: url("../images/about-bg.jpg") no-repeat top center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#card-aboutpage {
    
    height: 100%;
    color: var(--color-2);
    background-color: var(--color-4); 
}

.card-text {
    font-size: 14px;
    word-spacing: .2rem;
}



/*---Music page ------------------*/

#body-musicpage {
    size: 100vh;
    background-color: var(--color-6);
    color: var(--color-2);

}

img.cover-image {
  height: 250px;
  align-self: center;
  box-shadow: 0px 0px 30px -7px rgba(255, 255, 255, 0.5);

}

.list-inline-item.play-icon a i,
.list-inline-item.buy-icon a i {
    color: var(--color-1);
}

.song-text {
    padding-bottom: .6rem;
}

.row .song-list {
    border-bottom-color:var(--color-6);
    border-width: .4rem;
}

.song-links a {
    margin-left: 1rem;
    color: var(--color-6);
}

/*---Video page ------------------*/

#body-videopage {
  height: 100vh;
  background-color: var(--color-2);
  color: var(--color-6);
}

.resp-row {
  position:"";
  margin-bottom: 8rem;
}

.embed-responsive {
  margin-bottom: 1.6rem;

}

.embed-responsive-item {

   position: absolute;
    border-style: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.song-little-col {
    text-align: center;
}

.song-little-col h4 {
    text-transform: uppercase;
    font-family: Cinzel, sans-serif;
    font-weight: 300;
}

.song-little-col h4 span em {
    font-size: 50%;
    color: var(--color-1);

}

.listen-button-musicpage {
  border-radius: 0;
  color: var(--color-2);
  background-color: var(--color-5);
  border-bottom-color: var(--color-2);
  border-top-color: var(--color-2);
  border-right-color: var(--color-2);
  border-left-color: var(--color-2);
  padding: 0.6rem 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
   font-weight: 700;
}

.listen-button-musicpage a {
  color: var(--color-2);
}

.listen-button-musicpage,
.listen-button-musicpage a:hover {
  color: var(--color-5);
  background-color: var(--color-1);
  border-bottom-color: var(--color-1);
  border-top-color: var(--color-1);
  border-right-color: var(--color-1);
  border-left-color: var(--color-1);
  text-decoration: none;
}


/*---Contact page ------------------*/

#body-contactpage {
  height: 100vh;
  background-color: var(--color-6);
}

.hire-me-text h4, 
.hire-me-text h5 {
    color: var(--color-2);
    margin-bottom: 1rem;
}


/*---Media Queries------------------*/

    /*--template found on bootstrp documentation
     and costumised values--*/


@media (max-width: 576px) {
  #logo {
    font-size: 1.3rem;
  }
  
  .news-content h2,
  .list-inline-item a i {
    font-size: 1rem;
  }

  #card-aboutpage {
    width: 18rem;
  }

  footer .list-inline-item a {
   font-size: .8rem;
  }

}


@media (max-width:768px) {
  #logo {
    font-size: 1.4rem;
  }

     /* For mobile phones: template found on https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
  #body-musicpage[class*="col-"] {
    width: 100%;
  }

  .list-inline-item a i {
    font-size: 1.2rem;
  }

  #card-aboutpage {
      width: 18rem;
  }

  footer .list-inline-item a {
   font-size: 1rem;
  }
}



@media (max-width: 992px) {
  #logo {
    font-size: 1.8rem;
  }

  .navbar-item {
  font-size: 1rem;
  }

  .list-inline-item a i {
    font-size: 1.4rem;
  }

  #card-aboutpage {
      width: 28rem;
  }

  footer .list-inline-item a {
   font-size: 1.2rem;
  }
}



@media (min-width: 992px) {
  #logo {
    font-size: 2rem;
  }

  .navbar-item {
    font-size: 1.2rem;
  }

  .list-inline-item a i {
    font-size: 1.4rem;
  }

  #card-aboutpage {
     width: 32rem;
  }

  footer .list-inline-item a {
   font-size: 1.4rem;
  }
}